@font-face {
  font-family: "iconfont"; /* Project id 3701931 */
  src: url('iconfont.woff2?t=1665577649691') format('woff2'),
       url('iconfont.woff?t=1665577649691') format('woff'),
       url('iconfont.ttf?t=1665577649691') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-xinfeng:before {
  content: "\e640";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-shouye1:before {
  content: "\e618";
}

.icon-wode:before {
  content: "\e62f";
}

